<div class="card-front__container">
    <div class="card-front__mark" >
        <img src="/assets/images/card-logo.svg" alt="Card logo" class="mark__logo" >
    </div>
    <div class="card-front__number">
        <h3>
            {{cardNumber}}
        </h3>
    </div>
    <div class="card-front__infor">
        <div class="card-front__owner">
            <span class="owner__name">{{cardName}}</span>
            <span class="card-front__validity">{{cardMonth}}/{{cardYear}}</span>
        </div>
    </div>
</div>