.form__container
    max-width: 500px
    display: flex 
    flex-direction: column
    align-items: center

    .form__group
        margin: 7px 0  
        display: flex
        flex-direction: column
        width: 100%

        label
            text-transform: uppercase
            margin-bottom: 8px

        .error-field
            border-color: #f11 !important
            outline: none

        .input-field
            padding: 8px 12px
            border: 1px solid #dedddf
            border-radius: 8px
            min-width: 64px
            outline: none
            font-size: 1.25rem
            font-family: "Space Grotesk", sans-serif

            &::placeholder
                color: #dedddf
                font-size: 18px
                font-family: 'Space Grotesk', sans-serif
    
    .form__card-content
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 12px
        max-width: 100%
        margin-bottom: 15px

        .exp-date
            width: 170px

        .group-date
            display: flex
            gap: 8px

            .card-number
                display: flex
                width: 64px
                text-align: center

        .card-cvc
            input
                width: 100%

